<!DOCTYPE html>
<html>
<head>
  <title>Albums: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.rails', 'jquery.form', 'jquery.remotipart' %>
  <%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
